<md-card class="page">
    <!-- <h1>Topics</h1> -->
    <!-- <div ng-repeat="topic in topics">
        <a ui-sref="topic({topicId: topic._id})">{{ topic.name }}</a>
    </div> -->
    <md-toolbar class="md-primary search-toolbar-header">
      <div class="md-toolbar-tools">Topics/Chapters</div>
    </md-toolbar>
    <md-content style="height: 600px;" md-theme="altTheme">
          <md-card ng-repeat="topic in topics" class="volunteer-card">
            <span>
                <md-card-title>
                  <md-card-title-text>
                    <span>
                      <a ui-sref="topic({topicId: topic._id})">{{ topic.name }}</a>
                    </span>
                  </md-card-title-text>
                </md-card-title>
            </span>
          </md-card>
    </md-content>
</md-card>
